<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>

    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="description" content="This is error view" />
    <meta name="author" content="Erwin Feng" />

    <link rel="stylesheet" href="/css/error/style.css">
</head>
<body>
    <section class="home">
        Error
    </section>

    <footer class="footer">
        Copyright &copy;2019
    </footer>
</body>
</html>